* {
  box-sizing: border-box;
}

:root {
  --grid-size: 16;
}

body {
  margin: 0;
}

#toolbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
}

#container {
  display: grid;
  grid-template-columns: repeat(var(--grid-size), auto);
  grid-template-rows: repeat(var(--grid-size), auto);
  width: 500px;
  height: 500px;
}

.grid-block {
  border: 1px solid red;
  text-align: center;
  user-select: none;
}
