* {
  box-sizing: border-box;
}

:root {
  --block-size: 25px;
  --paint-color: black;
}

body {
  margin: 0;
}

#toolbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
}

#container {
  display: grid;
  grid-template-columns: repeat(16, var(--block-size));
  grid-template-rows: repeat(16, var(--block-size));
}

.grid-block {
  border: 1px solid red;
  text-align: center;
  user-select: none;
}
