* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

:root {
  --block-size: 25px;
}

#container {
  display: grid;
  grid-template-columns: repeat(16, var(--block-size));
  grid-template-rows: repeat(16, var(--block-size));
}

.grid-block {
  border: 1px solid red;
  text-align: center;
}

.colored-block {
  background-color: blue;
}
